<!DOCTYPE html>
<html  xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
<title>Escola</title>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<div class="container">
	<table class="striped">
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Cep</th>
			<th>Endereço</th>
			<th>Numero</th>
			<th>Bairro</th>
			<th>Cidade</th>
			<th>Estado</th>
			<th>Complemento</th>
			<th>Tipo</th>
			<th>Telefone</th>
			<th>Cantina </th>
			<th>WIFI</th>
			<th>Alterar</th>
			<th>Excluir</th>
				
		</tr>
		<tr th:each="e: ${escolas} ">
			<td th:text="${e.id}"></td>
			<td th:text="${e.nome}"></td>	
			<td th:text="${e.descricao}"></td>
			<td th:text="${e.cep}"></td>
			<td th:text="${e.endereco} "></td>
			<td th:text="${e.numero} "></td>
			<td th:text="${e.bairro} "></td>
			<td th:text="${e.cidade} "></td>
			<td th:text="${e.estado} "></td>
			<td th:text="${e.complemento} "></td>
			<td th:text="${e.tipo.nome}"></td>
			<td th:text="${e.telefone}"></td>
			<td th:text="${e.cantina}"></td>
			<td th:text="${e.wifi}"></td>
			<td><a th:href="@{/alteraEscola(id=${e.id})}">Alterar</a></td>
			<td><a th:href="@{/excluiEscola(id=${e.id})}">Excluir</a></td>
			
		</tr>
		
	</table>
	</div>
</body>
</html>