<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" href="css/style.css">
<meta charset="utf-8">
<title>Formulário de Administrador</title>




<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
	
	
	</script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

</head>
<body>
	<header th:replace="fragments/padrao :: navbar"></header>
	<div class="container">
	<form method="post" action="salvarAdm">
		<input type="hidden" name="id" th:value="${admins?.id}" /> <label>Nome:</label>
		<input type="text" placeholder="Nome" required="required" name="nome"
			th:value="${admins?.nome}"> <label>Email</label> <input
			type="email" placeholder="Email" required="required" name="email"
			th:value="${admins?.email}"> <label>Senha:</label> <input
			type="password" placeholder="senha" name="senha">

		<button class="btn waves-effect waves-light" type="submit"
			name="action">
			Salvar <i class="material-icons right">save</i>
		</button>
	</form>

	</div>
	<footer th:replace="fragments/padrao :: rodape"></footer>
	
</body>
</html>